

@font-face {
    font-family: nkyn;
    src: url('/fonts/Nickainley-Normal.ttf');
}

/* Inconsolata-Regular-2 */
/*  Hack-Regular-4 */
/* UbuntuMono-R-12 */
/* SFMono-Regular-10 */
@font-face {
    font-family: codeFont;
    src: url('/fonts/UbuntuMono-R-12.ttf');
}

/* Futura-Light-3 */
/* Allegro-2 */
/* novah-font-2 */
/* Open-Sans-2 */
/* Rosseta-3 */
/* Simpel-Medium-2 */
/* Techna-Sans-Regular-2 */
/*  */
@font-face {
    font-family: mainFont;
    src: url('/fonts/Open-Sans-2.ttf');
}



html {
    font-family:  mainFont;
    /* font-size: 12pt; */
    font-weight: 300;
}


#nav-title-wyz, 
#footer-author-name, 
#copy-right-author, 
#homepage-author {
    font-family: nkyn;
}

code {
    font-family: codeFont;
}

html pre code span {
    font-family: codeFont;
    font-size: 10pt;
}