

@font-face {
    font-family: nkyn;
    src: url('/fonts/Nickainley-Normal.ttf');
}

/* Inconsolata-Regular-2 */
/*  Hack-Regular-4 */
/* UbuntuMono-R-12 */
/* SFMono-Regular-10 */
@font-face {
    font-family: codeFont;
    src: url('/fonts/UbuntuMono-R-12.ttf');
}



@font-face {
    font-family: mainFont;
    src: url('/fonts/cejk0402.ttf');
}

@font-face {
    font-family: "cejk0402";
    src: url('/fonts/cejk0402.ttf');
    src: url("/fonts/cejk0402.eot"); /* IE9 */
    src: url("/fonts/cejk0402.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("/fonts/cejk0402.woff") format("woff"), /* chrome、firefox */
    url("/fonts/cejk0402.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("/fonts/cejk0402.svg#cejk0402") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


html {
    font-family:  "cejk0402";
    /* font-size: 12pt; */
    /* font-weight: 300; */
}


#nav-title-wyz, 
#footer-author-name, 
#copy-right-author, 
#homepage-author {
    font-family: nkyn;
}

code {
    font-family: codeFont;
}

html pre code span {
    font-family: codeFont;
    font-size: 10pt;
}

html blockquote {
    font-size: 0.86rem;
}