// Variables of Muse scheme
// ==================================================

$sidebar-width           = hexo-config('sidebar.width') is a 'unit' ? hexo-config('sidebar.width') : 320;
$sidebar-desktop         = unit($sidebar-width, 'px');


$font-family-headings = Monda,PingFang SC,Microsoft YaHei,sans-serif

// 修改成你期望的字体族
$font-family-base = Monda,PingFang SC,Microsoft YaHei,sans-serif

// 代码字体
$code-font-family = "PT Mono", Consolas, Monaco, Menlo, monospace

// 正文字体的大小
$font-size-base = 16px

// 代码字体的大小
$code-font-size = 13px